@font-face {
	font-family: 'terminal-grotesque-open';
	src: url('/fonts/terminal-grotesque_open.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'terminal-grotesque';
	src: url('/fonts/terminal-grotesque.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'abc-connect-mono';
	src: url('/fonts/abc-connect-mono.otf') format('opentype');
	font-display: swap;
}